body {
    overflow:hidden;
    background: #E7E7E7;
    position:relative;
    width:100%;
    padding-bottom:65px;
}
body.install {
    #setup-header {
        height:35px; 
        background:#f5f5f5;
    }
    #content {
        .white-box {
            background:white;
            padding:20px;
            border-top-right-radius:3px;
            border-bottom-right-radius:3px;
            border-bottom-left-radius:3px;
            box-shadow: 1px 1px 1px #DDD;
        }
    }
}
table {
   thead {
        background:#3B638A;
    }
    th, td {
        font-size:0.8em;
    }

}
.primary .btn {
    background:#3B638A;
    border-radius:3px;
}
#header {
    width:100%;
}
.white-box {
    background:white;
    padding:20px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
    box-shadow: 1px 1px 1px #DDD;
}
span.headline {
    height:auto;
    margin-top:20px;
    padding:10px!important;
}
.navbar {
    min-height:35px;
    margin-bottom:0px;
    line-height:33px;
}
.navbar ul li > a {
    line-height:33px;
}
.navbar ul li .dropdown {
    max-width:150px;
}
.navbar li .dropdown ul > li a {
    line-height:33px;
    color:black;
}
.gumby-no-touch .navbar li .dropdown ul li a:hover {
    background:#868d92;
}
nav#navbar-main-nav {
    a {
        color:white;
        font-size:0.8em;
        height:35px;
    }
    ul {
        height:35px;
        li {
            background:#4a4d50;
            height:35px;
            line-height:0;
            i {
                line-height:0;
            }
        }
    }
    #main-logo {
        font-weight:bold;
        white-space:nowrap;
    }
    ul#main-menu {
        float: right;
        #user-menu-item {
            min-width:150px;
            text-align:right;
            ul {
                li {
                    text-align:left;
                }
            }
        }
    }
}
#content {
    overflow-y:scroll;
    overflow-x:hidden;
    background:#f5f5f5;
    height:100%;
    bottom:35px;
    padding-top:20px;
    padding-bottom:35px;
    margin-bottom:35px;
    top:35px;
}

#footer {
    border-top:1px solid #cfcfcf;
    background:#E7E7E7;
    padding:10px;
    position:fixed;
    bottom:0;
    width:100%;
    max-height:35px;
    p {
        font-size:0.7em;
        color:#666;
        height:35px;
        padding-bottom:5px;
        text-align:center;
    }
}

